.top-bar-left {
  padding-left: rem-calc(40);
}
.top-bar-right {
  justify-content: flex-end;
  padding-right: rem-calc(40);
}

.title-bar-title {
  position: absolute;
  right: 60px;
  top: rem-calc(26);
}

.menu-icon {
  position: absolute;
  right: 20px;
  top: rem-calc(32);
}

.title-bar .logo {
  position: absolute;
  top: 14px;
  left: 18px;
  width: 22.5px;

  .st0, .st1 {
    fill: #f2f2f2;
  }
}

#global .logo {
  width: 25px;
  height: 65px;
  top: 5px;
  @include breakpoint(large) {
    position: relative;
    left: 20px;
  }

  .st0, .st1 {
    fill: #7F3F98;
  }

  span {
    @include breakpoint(medium) {
      position: relative;
      top: rem-calc(-47);
      left: rem-calc(38);
      width: rem-calc(279);
      display: block;
    }

    @include breakpoint(large) {
      font-size: ms(1);
      top: rem-calc(-40);
      text-transform: none;
    }
  }
}

#global {
  font-family: 'Lato', Arial, sans-serif;
  text-transform: uppercase;
  padding: 0;
  font-weight: 700;
  z-index: 1001;
  font-size: 0.75rem;

  a {
    color: #222;

    &.active {
      background: rgba(#303333, 20%);
      color: #fff;
      border-radius: 4px;
    }
  }

  @include breakpoint(medium down) {
    opacity: 0;

    &.active {
      opacity: 1;
      transition: opacity 0.3s 0.5s;
      background-color: transparent;
    }
  }

  @include breakpoint(large) {

    &.has-scrolled {
      background-color: rgba(#111, 0.95);
      transition: background-color 0.3s ease;

      a {
        color: #f2f2f2;
      }

      &.show-line {
        height: rem-calc(80);
        transition: height 0.3s ease;
      }
    }

    &.show-line {
      height: rem-calc(100);
      transition: height 0.3s ease;
    }
  }
}

#global ul.menu {
  @include breakpoint(medium down) {
    @include menu-direction(vertical);
    background-color: transparent;
    padding-top: rem-calc(60);
    font-size: rem-calc(21);

    a {
      color: #f2f2f2;
      &.active {
        border-radius: 0;
      }
    }
  }
  @include breakpoint(large) {
    // @include menu-direction(horizontal);
    justify-content: flex-end;
  }
}

.title-bar, .top-bar {
  position: fixed;
  width: 100%;
}

.top-bar ul {
  background-color: transparent;
}

.top-bar {
  width: 100%;
  z-index: 1000;
  @include breakpoint(medium down) {
    .top-bar-left {
      display: none;
    }
    top: 42px;
  }
  @include breakpoint(medium only) {
    .top-bar-right {
      float: left;
    }
  }

  @include breakpoint(large) {
    .top-bar-left {
      display: block;
    }
    top: 0;
  }
}

.title-bar {
  z-index: 1001;
  top: 0;
  height: rem-calc(80);
  padding-top: rem-calc(25);
  transition: height 0.3s ease-in;
  background-color: #2e2e2e;

  &.active {
    height: 100vh;
    transition: height 0.3s ease-in;
  }
}

.title-bar-title {
  text-transform: uppercase;
  font-family: "Lato", Arial, sans-serif;
}

button.menu-icon {
  cursor: none;
}

#regional {
  position: relative;
  width: 100%;
  z-index: 1000;
  background-color: #ccc;
  color: #999;
  font-size: 0.75rem;
  padding: 0.75rem 0;
  box-shadow: 0 1px 0 #ccc;

  ul {
    font-family: $lato;
    li a {
      color: #333;

      &:hover {
        background: #ccc;
        color: #fff;
      }
    }

    li {
      @include breakpoint(medium down) {
        a {
          border-bottom: 1px solid #ccc;
        }
      }

      @include breakpoint(large) {

        &:first-child a {
          border-left: 1px solid #ccc;
        }

        a {
          border-right: 1px solid #ccc;
        }
      }
    }
  }

  @include breakpoint(medium down) {
    ul.menu {
      display: block;
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
      @include menu-direction(vertical);
    }
  }

  @include breakpoint(large) {
    position: fixed;
    top: rem-calc(100);
    background-color: #f2f2f2;
    color: $blue;
    display: flex;
    justify-content: center;
    transition: top 0.3s ease;

    &.has-scrolled {
      top: rem-calc(80);
      transition: height 0.3s ease;
    }


    ul.menu {
      width: auto;
    }
  }
}
