.title-bar-title {
  position: absolute;
  right: 60px;
  top: 26px;
}

.menu-icon {
  position: absolute;
  right: 20px;
  top: 32px;
}

.title-bar .logo {
  position: absolute;
  top: 14px;
  left: 18px;
  width: 22.5px;

  .st0, .st1 {
    fill: #f2f2f2;
  }
}

#global .logo {
  width: 25px;
  height: 65px;
  top: 5px;
  @include breakpoint(large) {
    position: relative;
    left: 20px;
  }

  .st0, .st1 {
    fill: #7F3F98;
  }

  span {
    @include breakpoint(medium) {
      position: relative;
      top: -47px;
      left: 38px;
      width: 279px;
      display: block;
    }
  }
}

#global {
  font-family: 'Lato', Arial, sans-serif;
  text-transform: uppercase;
  padding: 0;
  font-weight: 700;
  font-size: rem-calc(15);
  background-color: transparent;
  z-index: 1001;

  a {
    color: #f2f2f2;

    &.active {
      background: lighten($darkgrey, 10%);
      color: #fff;
      border-radius: 4px;
    }
  }

  ul.menu {
    background-color: transparent;
    padding-top: rem-calc(14);

    @include breakpoint(small only) {
      padding-top: 60px;

      a.active {
        border-radius: 0;
      }
    }

    @include breakpoint(medium down) {
      font-size: rem-calc(21);
    }

    & ul.menu {
      padding-top: 0;
      padding-left: rem-calc(20);
      font-size: rem-calc(18);
    }

    & ul.menu a {
      color: darken(#ccc, 20%);
    }
  }

  @include breakpoint(medium down) {
    opacity: 0;

    &.show {
      opacity: 1;
      transition: opacity 0.3s 0.5s;
    }
  }

  @include breakpoint(large) {
    &.has-scrolled {
      background-color: rgba(#111, 0.95);
      transition: background-color 0.3s ease;

      .show-line {
        box-shadow: 0 1px 0 rgba(#f2f2f2, 0);
        padding: rem-calc(8) 0;
        transition: all 0.3s ease;
      }
    }

    .show-line {
      box-shadow: 0 1px 0 rgba(#f2f2f2, 0.4);
      padding: rem-calc(18) 0;
      transition: all 0.3s ease;
    }
  }


}
