body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  * {
    box-sizing: border-box;
  }
}

#page {
  background-color: #f2f2f2;

  &.no-scroll {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  @include breakpoint(medium down) {
    padding-top: rem-calc(80);
  }
}

section {
  padding: rem-calc(60) 0;
  color: #505050;
  position: relative;

  .section-heading {
    @include breakpoint(large) {
      font-family: 'Montserrat';
      // text-transform: uppercase;
      font-size: 3.2rem;
    }
  }
}

.text-end {
  text-align: right;
}
