body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 12px;
}

body * {
  box-sizing: border-box;
}

body .center-content {
  text-align: center;
}

@media only screen and (max-width: 40em) {
  .row {
    max-width: 20.5rem;
  }
}

section {
  padding: 60px 0;
}

.theme-1 {
  background-color: #4E4E4E;
  color: #F3F3F3;
}

#copyright {
  text-align: center;
}
