body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

body * {
  box-sizing: border-box;
}

body .center-content {
  text-align: center;
}

section {
  padding: 60px 0;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 25px;
  font-family: Montserrat, sans-serif;
  font-size: 6.5em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.theme-1 {
  background-color: #4E4E4E;
  color: #F3F3F3;
}

.theme-1 h2 {
  color: #F3F3F3;
}

#copyright {
  text-align: center;
}
