#clock {
  // margin: 5em auto;
  text-align: center;
  background-color: green;
  width: 100%;
  display: none;

  * {
    box-sizing: border-box;
  }

  // @media #{$small-only} {
  //   //transform: scale(.6);
  //   width: 100%;
  // }
  @media #{$large-up} {
      transform: scale(2);
      width: 60%;
      margin: 5em auto;
  }

  .cell {
    display: inline-block;
    background-color: darken($darkgrey, 10%);
    position: relative;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 3rem;
    line-height: 1;

    @media #{$small-up} {
      width: rem-calc(70);
      height: rem-calc(50);
    }
  }

  .cell span {
    position: absolute;
    left: 0;
    bottom: rem-calc(-30);
    clear: both;
    text-align: center;
    text-transform: uppercase;
    width: inherit;
    height: rem-calc(20);
    font-size: .8rem;
  }
}
