body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  * {
    box-sizing: border-box;
  }
}

@include breakpoint(medium down) {
  ul.menu {
    @include menu-direction(vertical);
  }
}

@include breakpoint(large) {
  ul.menu {
    @include menu-direction(horizontal);
  }
}

.title-bar, .top-bar {
  position: fixed;
  width: 100%;
}

.top-bar {
  width: 100%;
  z-index: 1000;
  @include breakpoint(medium down) {
    .top-bar-left {
      display: none;
    }
    top: 42px;
  }
  @include breakpoint(medium only) {
    .top-bar-right {
      float: left;
    }
  }

  @include breakpoint(large) {
    .top-bar-left {
      display: block;
    }
    top: 0;
  }
}

.title-bar {
  z-index: 1001;
  top: 0;
  height: rem-calc(80);
  padding-top: rem-calc(25);
  transition: height 0.3s ease-in;
  background-color: #2e2e2e;

  &.active {
    height: 100vh;
    transition: height 0.3s ease-in;
  }
}

.title-bar-title {
  text-transform: uppercase;
  font-family: "Lato", Arial, sans-serif;
}

button.menu-icon {
  cursor: none;
}
