body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  * {
    box-sizing: border-box;
  }
}

@include breakpoint(small) {
  ul.menu {
    @include menu-direction(vertical);
  }
}

@include breakpoint(medium) {
  ul.menu {
    @include menu-direction(horizontal);
  }
}
