/*

.pic {
  background: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  overflow: hidden;
}

.cover-img {
  display: none;
}

#introduction {
  background-color: darken($darkgrey, 10%);
  color: #f2f2f2;
  @include breakpoint(large) {
    height: rem-calc(400);
    min-height: auto;
  }
}

#gatherings {
  background-color: darken($darkgrey, 10%);
  color: #f2f2f2;
  display: flex;

  #sunday-clock {
    width: 460px;
    padding: rem-calc(40) 0;
    margin: 0 auto;

    .flip-clock-dot {
      background-color: #f2f2f2;
    }

    .flip-clock-label {
      color: #f2f2f2;
      top: -2em;
      text-transform: uppercase;
    }

    @include breakpoint(small only) {
      zoom: 70%;
      // .flip-clock-label {
      //   // font-size: rem-calc(18);
      // }
    }
  }
}

#get_connected {
  // display: none;
  background-color: darken($darkgrey, 10%);
  min-height: auto;
  height: auto;
  color: darken(#f2f2f2, 10%);

  p {
    font-size: 1rem;
  }

  label {
    color: darken(#f2f2f2, 10%);
  }

  input[type=submit] {
    @include breakpoint(medium) {
      float: right;
    }
  }

  fieldset {
    margin-bottom: rem-calc(30);
  }
}

#masthead {
  // @include breakpoint(large) {
  //
  //   .box {
  //     width: 750px;
  //     margin: 0 auto;
  //     margin-top: 100px;
  //     position: fixed;
  //   }
  // }
  //
  .heading span {
    width: 100%;
    display: block;
  }

  .social-icons {
    margin-left: 0;
    margin-right: 0;
  }
}

.parallax {
  @include breakpoint(small) {
    background-attachment: scroll;
  }
  @include breakpoint(large) {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.box {
  padding: rem-calc(30);
  max-width: rem-calc(1050);
  background-color: rgba(#111, 0.9);
  color: #f2f2f2;
}

.slide {
  background-color: #fff;
  box-sizing: border-box;
  padding: rem-calc(20);

  @include breakpoint(small) {
    height: rem-calc(200);
  }
  @include breakpoint(medium) {
    height: rem-calc(360);
  }
}

.box-2 {
  background-color: #fff;

  @include breakpoint(small) {
    border: none;
  }
  @include breakpoint(medium) {
    border: 15px solid #ccc;
  }
}

.owl-item .slide img {
  display: none !important;
}

#news {
  padding: 0;

  .section-container {
    @include breakpoint(small) {
      width: 80%;
    }
    @include breakpoint(medium) {
      width: rem-calc(650);
    }
    @include breakpoint(large) {
      width: 75%;
    }
  }
  button {

    @include breakpoint(small) {
      margin-top: rem-calc(20);
      height: rem-calc(50);
      background-color: rgba(#353535, 1);
      width: 48%;
      display: inline;
      color: #fff;
    }
    @include breakpoint(medium) {
      height: rem-calc(360);
      width: 100%;
      margin-top: 0;
      background-color: rgba(#353535, 0.5);
      display: block;
    }
  }
}

section {
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;

  &:nth-child(odd) {
    background-color: #ccc;
  }

  .section-container {
    align-self: center;
  }

  //small
  @include breakpoint(small only) {
    height: 100vh;
  }

  //medium
  @include breakpoint(medium) {
    height: auto;
    min-height: rem-calc(600);
  }

  //large
  @include breakpoint(large) {
    // min-height: rem-calc(700);
    // font-size: rem-calc(21);
  }
}

.arrow {
  display: block;
  width: 75px;
  height: 75px;
}


// * Special Overrides for Slides

.watchnight a {
  @include breakpoint(small) {
    margin-top: rem-calc(90);
  }
  @include breakpoint(medium) {
    margin-top: rem-calc(210);
  }
}

/// END ORIGINAL DESIGN

*/

body, html {
  height: 100%;
}

#announcement .row {
  @include breakpoint(medium) {
    max-width: auto;
    width: 80%;
  }

  .row {
    width: 100%;
  }
}

.parallax {
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pic {
  background: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  overflow: hidden;

  &.parallax {
    background-attachment: fixed;
  }
}

.cover-img {
  display: none;
}

#vanilla-slideshow-container {
  height: 80vh;

  @include breakpoint(large) {
    height: 80vh;
    margin-top: 7vh;
  }

  #vanilla-slideshow {
    height: 100%;
  }
}

.vanilla-slide {
  height: 100%;

  img {
    display: none !important;
  }
}

.slideshow-arrows {
  background-color: rgba(#333, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  height: rem-calc(40);
  width: rem-calc(40);
  font-size: rem-calc(40);
}

#vanilla-indicators {
  width: 100%;
  display: flex;
  justify-content: center;

  .vanilla-indicators {
    float: none;
    box-shadow: none;
  }
}

#gatherings {
  background-color: darken($darkgrey, 10%);
  color: #f2f2f2;
  display: flex;

  #sunday-clock {
    width: 460px;
    padding: rem-calc(40) 0;
    margin: 0 auto;

    .flip-clock-dot {
      background-color: #f2f2f2;
    }

    .flip-clock-label {
      color: #f2f2f2;
      top: -2em;
      text-transform: uppercase;
    }

    @include breakpoint(small only) {
      zoom: 70%;
    }
  }
}

.box {
  padding: rem-calc(30);
  max-width: rem-calc(1050);
  background-color: rgba(#111, 0.9);
  color: #f2f2f2;
}

.top-bar {
  @include breakpoint(large) {
    & + #content {
      margin-top: rem-calc(100);
    }
  }
}

section {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;

  &#announcement {
    background-color: #9b59b6;
    color: #fff;

    p {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;

      @include breakpoint(small only) {
        font-size: rem-calc(24);
        margin-bottom: rem-calc(13);
      }

      @include breakpoint(medium) {
        border-right: 1px solid rgba(#fff, 0.5);
        font-size: rem-calc(24);
      }
    }

    ul.social-icons {
      height: 100%;
      align-items: center;
      justify-content: space-between;

      i {
        font-size: rem-calc(30);
      }
    }

    @include breakpoint(small) {
      height: auto;
      min-height: auto;
      padding: rem-calc(20) 0;
    }
  }

  &#gatherings {
    @include breakpoint(small only) {
      height: 100vh;
    }

    @include breakpoint(medium) {
      height: auto;
      min-height: rem-calc(450);
    }
  }

  &#about-us {
    @include breakpoint(small only) {
      height: 100vh;
    }

    @include breakpoint(medium) {
      height: auto;
      min-height: rem-calc(400);
    }
  }

  @include breakpoint(small only) {
    height: 100vh;
  }

  @include breakpoint(medium) {
    height: auto;
    min-height: rem-calc(600);
  }
}
