.hide-lg {
  @include breakpoint(large) {
    display: none;
  }
}

.pic {
  background: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  overflow: hidden;
}

.cover-img {
  display: none;
}
//
// .box {
//   padding: rem-calc(30);
//
//   @include breakpoint(large) {
//     max-width: 1050px !important;
//   }
//
//   &.theme-1 {
//     // black
//     background-color: rgba(#111, 0.9);
//     color: #f2f2f2;
//   }
//   &.theme-2 {
//     // white
//     background-color: #f2f2f2;
//     color: #333;
//   }
// }
//
//
// .parallax__parent {
//   overflow: hidden;
//   height: 100vh;
// }
//
// .parallax__child {
//   position: relative;
//   text-align: center;
//   background-size: cover;
//
//   @media screen and #{breakpoint(large)} and #{breakpoint(landscape)} {
//     top: -120%;
//     height: 200%;
//   }
//   @media screen and #{breakpoint(large)} and #{breakpoint(landscape)} and #{breakpoint(retina)} {
//     top: 0;
//     height: 100%;
//   }
// }
//
#introduction {
  background-color: darken($darkgrey, 10%);
  color: #f2f2f2;
  @include breakpoint(large) {
    height: rem-calc(400);
    min-height: auto;
  }
}

.parallax__parent {
  overflow: hidden;
  height: 100vh;
}

.parallax__child {
  position: relative;
  text-align: center;
  background-size: cover;

  @media screen and #{breakpoint(large)} and #{breakpoint(landscape)} {
    top: -120%;
    height: 200%;
  }

  @media screen and #{breakpoint(large)} and #{breakpoint(landscape)} and #{breakpoint(retina)} {
    top: 0;
    height: 100%;
  }
}

#gatherings {
  background-color: darken($darkgrey, 10%);
  color: #f2f2f2;
  display: flex;

  #sunday-clock {
    width: 460px;
    padding: rem-calc(40) 0;
    margin: 0 auto;

    .flip-clock-dot {
      background-color: #f2f2f2;
    }

    .flip-clock-label {
      color: #f2f2f2;
      top: -2em;
      text-transform: uppercase;
    }

    @include breakpoint(small only) {
      zoom: 70%;
      // .flip-clock-label {
      //   // font-size: rem-calc(18);
      // }
    }
  }
}



//
// #get_connected {
//   background-color: darken($darkgrey, 10%);
//   min-height: auto;
//   color: darken(#f2f2f2, 10%);
//
//   p {
//     font-size: 1rem;
//   }
//
//   label {
//     color: darken(#f2f2f2, 10%);
//   }
//
//   input[type=submit] {
//     @include breakpoint(medium) {
//       float: right;
//     }
//   }
//
//   fieldset {
//     margin-bottom: rem-calc(30);
//   }
// }
//
//
// #masthead {
//   border: 10px solid #e6e6e6;
//   box-sizing: border-box;
//   width: 100%;
// 	height: 95vh;
//   // display: flex;
//   // align-content: center;
//   // justify-content: center;
//
//   > .row {
//     height: inherit;
//   }
//
//   ul.social-icons {
//     margin: rem-calc(40) 0 0;
//   }
// }
//

#what-to-expect, #about-us {
  .row {
    height: inherit;
  }

  @include breakpoint(large) {
    .box {
      position: absolute;
      top: 35%;
    }
  }
}
//

#what-to-expect {
  .pic {
    display: flex;
    justify-content: center;
  }
  .box {

    @include breakpoint(small) {
      align-self: center;
      margin: 0 0.625rem 0 0.625rem;
    }

    @include breakpoint(large) {
      width: 905.625px;
    }

  }
}

.box {
  padding: rem-calc(30);
  max-width: rem-calc(1050);
  background-color: rgba(#111, 0.9);
  color: #f2f2f2;
}

section {
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;

  &:nth-child(odd) {
    background-color: #ccc;
  }

  .social-icons {

  }

  .section-container {
    align-self: center;
  }

  //small
  @include breakpoint(small only) {
    height: 100vh;
  }

  //medium
  @include breakpoint(medium) {
    height: auto;
    min-height: rem-calc(600);
  }


  //large
  @include breakpoint(large) {
    // min-height: rem-calc(700);
    // font-size: rem-calc(21);
  }
}
