.pic {
  background: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  overflow: hidden;
}

.cover-img {
  display: none;
}

#introduction {
  background-color: darken($darkgrey, 10%);
  color: #f2f2f2;
  @include breakpoint(large) {
    height: rem-calc(400);
    min-height: auto;
  }
}

#gatherings {
  background-color: darken($darkgrey, 10%);
  color: #f2f2f2;
  display: flex;

  #sunday-clock {
    width: 460px;
    padding: rem-calc(40) 0;
    margin: 0 auto;

    .flip-clock-dot {
      background-color: #f2f2f2;
    }

    .flip-clock-label {
      color: #f2f2f2;
      top: -2em;
      text-transform: uppercase;
    }

    @include breakpoint(small only) {
      zoom: 70%;
      // .flip-clock-label {
      //   // font-size: rem-calc(18);
      // }
    }
  }
}

#get_connected {
  // display: none;
  background-color: darken($darkgrey, 10%);
  min-height: auto;
  height: auto;
  color: darken(#f2f2f2, 10%);

  p {
    font-size: 1rem;
  }

  label {
    color: darken(#f2f2f2, 10%);
  }

  input[type=submit] {
    @include breakpoint(medium) {
      float: right;
    }
  }

  fieldset {
    margin-bottom: rem-calc(30);
  }
}

#masthead {
  // @include breakpoint(large) {
  //
  //   .box {
  //     width: 750px;
  //     margin: 0 auto;
  //     margin-top: 100px;
  //     position: fixed;
  //   }
  // }
  //
  .heading span {
    width: 100%;
    display: block;
  }

  .social-icons {
    margin-left: 0;
    margin-right: 0;
  }
}

.parallax {
  @include breakpoint(small) {
    background-attachment: fixed;
  }
}

.box {
  padding: rem-calc(30);
  max-width: rem-calc(1050);
  background-color: rgba(#111, 0.9);
  color: #f2f2f2;
}

section {
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;

  &:nth-child(odd) {
    background-color: #ccc;
  }

  .section-container {
    align-self: center;
  }

  //small
  @include breakpoint(small only) {
    height: 100vh;
  }

  //medium
  @include breakpoint(medium) {
    height: auto;
    min-height: rem-calc(600);
  }

  //large
  @include breakpoint(large) {
    // min-height: rem-calc(700);
    // font-size: rem-calc(21);
  }
}
