
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: red;
  background-color: #f2f2f2;

  * {
    box-sizing: border-box;
  }

html {
  font-family: $opensans;
}

  .center-content {
    text-align: center;
  }
}

// content styling
@include breakpoint(small) {
  p {
    text-align: center;
  }

  h2 {
    font-family: $opensans;
    font-size: 1.6785rem;

    &.section-title {
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(25);
      font-family: $montserrat;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
    }
  }
  h3 {
    font-family: $opensans;
    font-size: 1.2rem;
  }
}

@include breakpoint(medium) {
  h2 {
    font-size: 3rem;
  }
}

@include breakpoint(large) {
  h2 {
    font-size: 4rem;
  }
}

//button styling
/* #Graphite Flat Button
==================================================*/
button[class*="flat-button"] {
  position: relative;
  vertical-align: top;
  height: rem-calc(45);
  padding: rem-calc(12) rem-calc(18);
  color:#fff;
  width: rem-calc(150);
  height: rem-calc(55);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

  &:hover, &:focus {
    background-color: red;
  }

  &:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.graphite-flat-button {
  background: #454545;
  border: 0;
  border-bottom: 2px solid #2f2e2e;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2f2e2e;
  box-shadow: inset 0 -2px #2f2e2e;
}

#page {
  &.no-scroll {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

// section styling and themes
#masthead, section {
  padding: rem-calc(60) 0;
  min-height: rem-calc(600);
}

#masthead {
  background: url(https://placeimg.com/1000/800/people/grayscale) center center transparent;
  background-size: cover;
}



.theme-1 {
  background-color: $darkgrey;
  color: $lightgrey;

  h2 {
    color: $lightgrey;
  }
}

.theme-2 {
  background-color: lighten($darkgrey, 60%);
  color: $darkgrey;

  h2 {
    color: $darkgrey;
  }
}


#global {
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 0.95);
  height: rem-calc(60);
  transition: height 0.3s ease-in;
  color: #F3F3F3;
  z-index: 1;

  &.active {
    height: 100%;
    transition: height 0.3s ease-in;

    #menu {
      top: 85%;
      transition: top 0.3s ease-in;
    }

    ul {
      opacity: 1;
      transition: opacity 0.3s 0.5s ease-in;
    }

    li {
      display: block;
    }
  }

  #menu {
    color: #fff;
    font-family: $montserrat;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: rem-calc(5);
    background-color: transparent;
    margin: 0 auto;
    display: block;
    transition: top 0.3s 0.15s;
  }

  ul {
    list-style: none;
    position: relative;
    top: rem-calc(10);
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  li {
    margin: rem-calc(20) 0;
    text-align: center;
    display: none;

    a {
      text-transform: uppercase;
      font-size: 1.4rem;
      color: #fff;
      font-family: $opensans;
    }
  }
}

// custom section styling
#news {
  .orbit-bullets button {
    overflow: hidden;
    padding-left: 20px;
  }

  .orbit-slide {
    background-color: red;
    width: 100%;

    @include breakpoint(small) {
      height: rem-calc(300);

      .orbit-previous,.orbit-next {
        display: none;
      }
    }
    @include breakpoint(medium) {
      height: rem-calc(500);
    }

    &[data-slide='1'] {
      background-color: blue;
    }
    &[data-slide='2'] {
      background-color: green;
    }
  }


}





#about {
  padding-bottom: 0;
  min-height: rem-calc(400);

  button {
    margin-bottom: 3.25rem;
  }
}

.sub-section {
  background-color: $tertiary;
  display: none;
  width: 100%;
  min-height: rem-calc(400);
  padding: rem-calc(40) 0;

  .container {
    margin: 0 auto;
    width: 80%;
  }

  .content {
    position: relative;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-family: $montserrat;
    text-transform: uppercase;
  }

  &.active {
    display: block;
  }
}

#contact-us {
  box-shadow: 0 rem-calc(20) 0 lighten($darkgrey, 58%) inset;

  .e-mail {
    @include breakpoint(small) {
      margin-bottom: rem-calc(40);
    }
  }
}

#location {
  background: url(/images/charlotte-skyline-faded.jpg) no-repeat transparent 0 0;
  background-size: cover;
  box-shadow: 0 1px 0 0 lighten($darkgrey, 58%) inset;
}

// connect
#connect h3 {
  background: url(https://placeimg.com/640/480/people/sepia) no-repeat 0 0 transparent;
  height: rem-calc(200);
  color: #fff;
  text-align: center;
  padding-top: rem-calc(95);
  text-transform: uppercase;
  font-family: $montserrat;
}

// gatherings
#gatherings {
  background: url(https://placeimg.com/1000/800/people/grayscale) center center transparent;
  background-size: cover;
}
#next-service {
  font-family: $montserrat;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 8rem;
}


// footer stylings
footer {
  background-color: darken($darkgrey, 10%);
  color: #fff;
  padding: rem-calc(20) 0;

  .social-icons {
    @include flex-grid-column(8, 0);
    text-align: center;
  }

  .social {
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    background-color: #008CBA;
    color: #fff;
    margin: rem-calc(10) rem-calc(10) rem-calc(20) 0;
    padding: 0;

    &:first-of-type {
      margin-left: rem-calc(20);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .social span {
    position: relative;
    top: rem-calc(10);
  }
}

#copyright {
  text-align: center;
}
