body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 12px;

  * {
    box-sizing: border-box;
  }

  .center-content {
    text-align: center;
  }
}

.row {
  @media only screen and (max-width: 40em) {
    max-width: 20.5rem;
  }
}

// utility settings
$darkygrey: #4E4E4E;
$mediumgrey: #666666;
$lightgrey: #F3F3F3;

$primary: #502D51; // purple
$secondary: #5F4A64;
$tertiary: #C6A7A6;

// section styling and themes
section {
  padding: 60px 0;
}

.theme-1 {
  background-color: $darkygrey;
  color: $lightgrey;
}

// footer stylings
#copyright {
  text-align: center;
}
