/*button styling
==================================================*/
@mixin button-color($hex, $dark-percentage, $light-percentage) {
  background-color: $hex;
  box-shadow: 0px 3px 0px 0px darken($hex, $dark-percentage);
  border: 1px solid darken($hex, $dark-percentage);

  &:hover {
    background-color: lighten($hex, $light-percentage);
  }
}

a[class*="custom-btn"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  background: $darkgrey;
  color: #f2f2f2;
  text-decoration: none;

  &:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  }
}

/* darkgray Button */
a.graphite-custom-btn {
  @include button-color($darkgrey, 10%, 20%);
}

/* concrete gray Button */
a.concrete-custom-btn {
  @include button-color(#7f8c8d, 10%, 20%);
}

/* blue button */
a.blue-custom-btn {
  @include button-color(#2199e8, 10%, 20%);
}

.social-icons {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;

  li {
    flex-flow: row nowrap;
  }

  a {
    color: #fff;
  }
}

#page {
  background-color: #f2f2f2;

  &.no-scroll {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  @include breakpoint(medium down) {
    padding-top: rem-calc(80);
  }
}

.parallax__parent {
  overflow: hidden;
  height: 100vh;
}

.parallax__child {
  height: 200%;
  position: relative;
  top: -120%;
  text-align: center;
  background-size: cover;

  @include breakpoint(medium down) {
    top: 0;
    height: inherit;
  }
}

section {
  padding: rem-calc(60) 0;
  color: #505050;
  position: relative;
  text-align: center;
}

.home  {
  p {
    font-size: rem-calc(28);
    line-height: 1.26;
  }

  #welcome,
  #gatherings
  {
    @include breakpoint(large) {
      min-height: rem-calc(600);
    }
  }
}

#masthead {
  border: 10px solid #e6e6e6;
  box-sizing: border-box;
  width: 100%;
	height: 95vh;

  .image-1, .image-2 {
		width: 100%;
		height: 100%;
		background-size: cover;
    background-position: center;
		position: absolute;
    top: 0;
	}

	.image-1 {
		z-index: 1;
	}
	.image-2 {
		z-index: 0;
	}

  .text {
    position: relative;
    top: 10%;
    z-index: 2;
  }

  h1, h2 {
    font-family: $montserrat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }

  h1 {
    color: #EC5840;
    margin-bottom: 0;

    span {
      color: #F5A598;
    }
  }

  h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 0;
  }

  a {
    margin: 0 auto;
  }

  .social-icons {
    margin-top: rem-calc(50);

    a {
      padding: 20px;
      font-size: 1.5rem;
    }
  }
}

#welcome {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;

  .orbit-slide {
    height: 500px;
    min-height: 500px;

    h2 {
      margin-top: 0;
    }

    &.slide-1 {
      background-color: #397f91;
    }
    &.slide-2 {
      background-color: #296cd1;
    }
    &.slide-3 {
      background-color: #c14940;
    }
    &.slide-4 {
      background-color: #6a159f;
    }
  }

  .orbit-control {
    @include orbit-control;
  }

  @include breakpoint(small only) {
    height: 100vh;
  }

  @include breakpoint(medium) {
    height: rem-calc(600);
  }
}

#introduction {
  background-color: #ecf0f1;

  .section-heading {
    margin-bottom: rem-calc(20);
  }
  p span {
    font-weight: bold;
  }
}

#about-us {
  color: $darkgrey;

  .section-heading {
    color: $darkgrey;
  }

  .text {
    position: relative;

    @include breakpoint(small only) {
      top: rem-calc(100);
      font-size: rem-calc(24);
    }
  }

  @include breakpoint(medium only) {
    height: rem-calc(500);
  }
}

#what-to-expect {
  color: #f2f2f2;

  @include breakpoint(small only) {
    background-position: -180px center;
  }

  .text {
    position: relative;
    
    @include breakpoint(small only) {
      top: rem-calc(100);
      font-size: rem-calc(21);
    }
  }

  @include breakpoint(medium only) {
    height: rem-calc(500);
  }
}

#gatherings {
  background-color: darken($darkgrey, 10%);
  color: #f2f2f2;
}

#sunday-clock {
  width: 460px;
  margin: rem-calc(50) auto;

  .flip-clock-dot {
    background-color: #f2f2f2;
  }

  .flip-clock-label {
    color: #f2f2f2;
    top: -2em;
    text-transform: uppercase;
  }

  @include breakpoint(small only) {
    zoom: 70%;
    margin-bottom: rem-calc(30);
    position: relative;
    top: 10px;

    .flip-clock-label {
      font-size: rem-calc(18);
    }
  }
}

#connect {
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: rem-calc(90);

  .section-heading {
    line-height: 2.6rem;
    font-family: $lato;
    color: #bdc3c7;
  }

  @include breakpoint(small only) {
    background-position: -75px center;

    p {
      font-size: 21px;
      width: 75%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

#get_connected {
  background-color: darken($darkgrey, 10%);
  min-height: auto;
  color: darken(#f2f2f2, 10%);

  p {
    font-size: 1rem;
  }

  label {
    color: darken(#f2f2f2, 10%);
  }

  input[type=submit] {
    @include breakpoint(medium) {
      float: right;
    }
  }
}
