

#content .row {
  @include breakpoint(large) {
    max-width: 100%;
  }
}

.pic {
  width: 100%;
  // height: rem-calc(500);
  padding: 0;
  // background-repeat: no-repeat;
  // background-size: cover;
}

#masthead {
  max-height: rem-calc(500);
  width: 100%;
  overflow: hidden;

  @include breakpoint(large) {
    margin-top: rem-calc(140);
  }

  video#cmn-video-demo2__video {
    width: 100%;
  }
}

section {
  &.panel-theme-2 {
    padding: 0;

    @include breakpoint(large) {
      .text {
        padding: rem-calc(40);
      }
    }
  }
  &.panel-theme-1 {
    background-color: #e6e6e6;
  }
}

.text-align-center {
  text-align: center;
}
